<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title-header">URL Shortener</h1>
    </div>
    <form class="custom-form-background" action="{{ url_for('mainpage') }}" method="post">
        <label for="original_url">Enter URL:</label>
        <input type="url" name="long_url"  autocomplete="off" placeholder="https://example.com" required>
        <button type ='submit' class="button" role="button">Shorten</button>

    </form>
    <footer class="footer">
        <div>
            ©2023 URL Shortener by Jan Gadomski
        </div>
    </footer>
</body>
</html>