/* CSS */
body {
  background-image: url('images/background.jpg');
  background-size: cover;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.container {
  text-align: center;
}

.title-header {
  font-size: 48px;
  font-weight: 400;
  color: #000000;
  text-shadow: 0px 0px 5px #ffffff, 0px 0px 10px #ffffff, 0px 0px 10px #ffffff,
    0px 0px 20px #ffffff;
}

.success-header {
  font-size: 48px;
  font-weight: 400;
  color: #198754;
  text-shadow: 0px 0px 5px #ffffff, 0px 0px 10px #ffffff, 0px 0px 10px #ffffff,
    0px 0px 20px #ffffff;
}

.custom-form-background {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.custom-form-background input[type="url"] {
  width: 210px; /* Set the width of the input field */
}

.clipboard-button-container {
  text-align: center;
}

.clipboard-button-container button,
.clipboard-button-container p,
.clipboard-button-container a {
  display: inline-block;
  vertical-align: middle;
}

.clipboard-button-container p {
  margin: 0 10px; /* Adjust spacing */
}

.button {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button-18:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.result-url-wrapper {
    background-color: #fff;
    border: 1px solid #babcbf;
    border-radius: 5px;
    bottom: 0;
    height: 2.625em;
    min-width: 100%;
    right: 0;
    text-align: right;
    transition: inherit;
    white-space: nowrap
    box-sizing: border-box;
    padding: 12px;
}

.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.gif-wrapper {
    width: 200px;
    height: 150px;
    border: 2px solid #babcbf;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.gif {
    max-width: 100%;
    max-height: 100%;
  }

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}